* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section {
    background-image: url('./images/Logo-avengers-wallpaper-HD.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
} */

.main-image  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/Logo-avengers-wallpaper-HD.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.button {
    display: flex;
    margin-bottom: 800px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.btn-container {
    margin-top: 260px;
}

.btn {
    font-size: 25px;
    background-color: #506c82;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}