/* public/style.css */
body {
  font-family: "Montserrat", sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
  color: #333;
}

.wrapper {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

h2 {
  color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

img {
  border-radius: 90%;
}

#addContact {
  font-family: 'lato', sans-serif;
  font-weight: 500;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#refresh {
  font-family: 'lato', sans-serif;
  font-weight: 500;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#refresh:hover {
  background-color: #0056b3;
}

#addContact {
  background-color: #007bff;
  color: white;
}

#addContact:hover {
  background-color: #0056b3;
}

a {
    text-decoration: none;
}

form {
  max-width: 400px;
  height: 470px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

label[for="firstname"],
label[for="lastname"],
label[for="mobile"],
label[for="email"],
label[for="avatar"] {
  padding: 5px;
  color: darkblue;
  font-family: 'lato', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

input#firstname,
input#lastname,
input#mobile,
input#email,
input#avatar {
  margin: 5px;
  padding: 4px;
  color: darkblue;
  font-size: 1.1em;
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

#submitForm,
#homeLink {
font-family: 'lato', sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  margin: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none; 
  display: inline-block;
}

.edit-submit {
  margin-top: 10px;
}

#home-container {
  display: flex;
  justify-content: space-between;
}
#editContact,
#deleteContact,
#homeLink {
  justify-content:space-around;
  font-family: 'lato', sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  margin: 5px 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none; 
}