* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 600px;
    height: 400px;
    margin: 100px auto;
    border: 1px solid black;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 10px;
}

h2 {
    justify-content: center;
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-family: 'lato', sans-serif;
}

#refresh {
    margin: 5px;
    padding: 5px;
    font-family: 'lato', sans-serif;
}

#addContact {
    margin: 5px;
    padding: 5px;
    font-family: 'lato', sans-serif;
}